.side_bar
  .side_header
    .side_box
      .user_name
        saori
      .menu
        .icon_new
        = link_to "#", class: "icon__new" do
          = icon('far', 'edit')
        .icon_edit
        = link_to "#", class: "icon__edit" do
          = icon('fas', 'cog')
  
  .groups
    .group
      .group__group-name
        a
      .group__latest-message
        まだメッセージがありません